#nav-menu {
  list-style-type: none;
  margin: 0;
  margin-top: 14px;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 8px 14px 14px;
  text-decoration: none;
  font-size: 14px;
}

#contact {
  color: #b24c47;
}

#header {
  position: relative;
  height: 58px;
  width: 100%;
  background: #1c1d1c;
  opacity: 0.9;
}

#nav-links {
  @include center(50%, 50%);

  position: absolute;
  margin: 0;
  width: 940px;
  height: 58px;
}

.indicator {
  @include container(10px, 10px)

  float: left;
  display: block;
  background-color: #fefffe;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  margin-left: 10.5px;
}

#red-indicator {
  background-color: #d93a2f;
}

#grey-indicator {
  background-color: #9f9fa7;
}

#intro {
  @include center(9%, 50.5%);

  position: absolute;
  width: 940px;
}

#divider {
  @include center(16.2%, 50.5%);

  height: 5px;
  width: 940px;
  position: absolute;
  background-color: #272827;
}

.footer-contents {
  @include center(42.8%, 50.5%);

  position: relative;
  height: 500px;
}
