@import "bourbon";
@import "neat";

@mixin center($top, $left) {
  top: $top;
  left: $left;
  transform: translate(-50%, -50%);
}

@mixin container($width, $height) {
  width: $width;
  height: $height;
}

html,
body {
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
  height: 100vh;
}

#nav-menu {
  list-style-type: none;
  margin: 0;
  margin-top: 13px;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 8px 14px 14px;
  text-decoration: none;
  font-size: 14px;
}

li a:hover {
  color: #b24c47;
}

#header {
  position: relative;
  height: 58px;
  width: 100%;
  background: #1c1d1c;
  opacity: 0.9;
}

#nav-links {
  @include center(50%, 50%);

  position: absolute;
  margin: 0;
  width: 940px;
  height: 58px;
}

#logo {
  position: relative;
  float: left;
  width: 100px;
  height: 56px;
  top: 5px;
  margin: 0;
  font-size: 35px;
  color: #9ca0a6;
}

#about {
  color: #9fa09f;
}

#twitter-container {
  position: relative;
  float: right;
  right: 250px;
  width: 160px;
  height: 38px;
  top: 20px;
  background-color: #464544;
}

#twitter-logo {
  color: #6dddde;
  font-size: 24px;
  padding: 6px 0 0 19px;
}

#twitter-text {
  color: #6dddde;
  position: absolute;
  font-size: 14px;
  width: 100%;
  left: 55px;
  top: -7px;
}

#red-box {
  @include container(38px, 38px);

  background-color: #e24b31;
  position: relative;
  margin: 0;
  float: right;
  top: 20px;
  right: 250px;
}

#white-plus {
  @include center(42%, 50%);

  position: relative;
  color: #fffefb;
  font-size: 18px;
}

#wrapper {
  width: 100%;
  height: 600px;
}

#main-image {
  width: 100%;
  height: auto;
}

#django {
  position: absolute;
  width: 100%;
  height: 800px;
  float: right;
  top: 0;
  background-color: lighten(blue, 50);
  z-index: -1;
  overflow: hidden;
}

#catch {
  position: absolute;
  font-size: 54px;
  color: #d93a2f;
  line-height: 60px;

  @include center(26.2%, 26.5%)
}

#tarantino {
  position: absolute;
  font-family: sans-serif;
  letter-spacing: 0;
  font-size: 16px;
  font-weight: lighter;
  color: #b7b8b7;
  line-height: 20px;

  @include center(41.4%, 30.5%)
}

#django-project {
  color: #d93a2f;
  text-decoration: none;
}
