@import "bourbon";
@import "neat";

@mixin center($top, $left) {
  top: $top;
  left: $left;
  transform: translate(-50%, -50%);
}

@mixin container($width, $height) {
  width: $width;
  height: $height;
}

html,
body {
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
  height: 100vh;
}
